Source: ptux-sdk
Section: devel
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: ptux-sdk
Architecture: all
Description: Pragmatux SDK (common packages)
 This metapackage installs packages needed for development of Pragmatux
 operating systems.
Depends:
 emdebian-archive-keyring,
 binutils-multiarch,
 dpkg-dev,
 make,
 pkg-config,
 devscripts,
 gdebi-core,
 equivs,
 devscripts-ptux,
 fakeroot,
 dh-make,
 dput-ng,
 openssh-client,
 python-paramiko,
 rgb2565,
 git,
 git-buildpackage,
 mkisoarchive,
 build-essential,
 apt-transport-https,
 ${misc:Depends}

Package: ptux-sdk-amd64
Architecture: all
Description: Pragmatux SDK (amd64 targets)
 This metapackage installs packages needed for development of Pragmatux
 operating systems on targets using the amd64 architecture.
Depends:
 ptux-sdk (= ${binary:Version}),
 ${misc:Depends}

Package: ptux-sdk-armhf
Architecture: all
Description: Pragmatux SDK (armhf targets)
 This metapackage installs packages needed for development of Pragmatux
 operating systems on targets using the armhf architecture.
Depends:
 ptux-sdk (= ${binary:Version}),
 gcc-arm-linux-gnueabihf-default-4.7,
 ${misc:Depends}

Package: ptux-sdk-armel
Architecture: all
Description: Pragmatux SDK (armel targets)
 This metapackage installs packages needed for development of Pragmatux
 operating systems on targets using the armel architecture.
Depends:
 ptux-sdk (= ${binary:Version}),
 gcc-arm-linux-gnueabi-default-4.7,
 ${misc:Depends}

Package: apt-sources-ptux-sdk
Architecture: all
Depends: ${misc:Depends}
Description: APT sources configuration for the Pragmatux SDK
 This package installs configuration for APT sources containing packages
 which constitute the Pragmatux SDK. These sources are preferred to sources 
 at the default priority by means of an APT preference fragment.
